[run]
branch = True
source = .
omit =
   static/*
   manage.py
   */migrations/*
   */tests.py
   */admin.py
   */apps.py
   */models.py
   */tests/*
   backend/*

[report]
show_missing = True
skip_covered = True
omit =
   static/*
   manage.py
   */migrations/*
   */tests.py
   */admin.py
   */apps.py
   */models.py
   */tests/*
   backend/*
